:root {
  --caia-main-header: #2b2b2b;
  --caia-header: #424546;
  --caia-highlighted-1: #0dcc58;
  --caia-accent: #869299;
  --caia-highlighted-2: #cb483c;
  --caia-background: #f0f0f0;
  --caia-font: "Trebuchet MS";
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.navbar-icons {
  align-items: center;
  padding-top: 10px;
}

.darkmode-switch {
  display: flex;
  align-items: left;
  align-content: stretch;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.canvas {
  position: absolute;
  z-index: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.submenu-header {
  /* background-color: var(--caia-header); */
  color: white;
  font-family: var(--caia-font);
  font-size: x-large;
  text-align: center;
  padding: 2vh;
  margin: 0;
}

.annotation-marker {
  color: #ffffff;
  line-height: 1.8;
  text-align: center;
  font-family: "monospace";
  font-weight: bold;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background: black;
  visibility: visible;
  box-shadow: 5px 5px 15px 1px #000000;
  z-index: 10;
}

.annotation-label {
  position: absolute;
  max-width: 250px;
  min-height: 50px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background: #ffffff;
  color: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 8px;
  border: #ffffff solid 2px;
  box-shadow: 5px 5px 15px 1px #000000;
  z-index: 70000;
}

.annotation-label:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent white;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -11px;
  left: -12px;
  top: 20px;
}

.annotation-label:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 9px 13px 9px 0;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -12px;
  left: -15px;
  top: 20px;
}

.annotation-title {
  font: normal 20px arial, serif;
  margin-bottom: 8px;
}

.annotation-desc {
  font: normal 14px arial, serif;
}

.gallery-big-image {
  align-items: center;
  position: center;
  border: #cb483c;
  border-radius: 10px;
}

.caia-background {
}

.caia-fill {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.caia-row {
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  display: flex;
}

.caia-header-row {
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.caia-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caia-outline {
  border: 2px solid var(--caia-accent);
  padding: 150px 100px 100px;
}

.caia-default {
}

.caia-submenu-border {
  /*background-color: var(--caia-header);*/
  height: 50px;
  color: white;
  font-family: var(--caia-font);
  display: flex;
  flex-direction: row;
  padding-inline: 10px;
  justify-content: center;
  align-items: center;
}

.caia-sidebar-header {
  height: 50px;
  color: white;
  font-family: var(--caia-font);
  display: flex;
  flex-direction: row;
  padding-inline: 10px;
  justify-content: stretch;
  align-items: center;
}

.caia-table {
  width: 100%;
}

.caia-default-text {
  color: white;
  padding-right: 20px;
  font-family: var(--caia-font);
}
a {
  color: var(--caia-accent);
}
a:hover {
  color: var(--caia-highlighted-2);
}

.caia-big-center-text-black {
  font-family: var(--caia-font);
  font-size: x-large;
  text-align: center;
  margin: 0;
}

.caia-title-form {
  border: 0 white;
  font-family: var(--caia-font);
  font-size: larger;
  text-align: center;
  width: 100%;
}

.caia-warning {
  text-align: center;
  font-family: var(--caia-font);
  color: #cb483c;
}

.sidebar {
  height: 100%;
  min-width: 300px;
  width: 30vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  display: flex;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.tab-content {
  height: 100px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.tab-pane {
  height: 100%;
}

.graph {
  width: 100%;
  height: 100%;
}

.viewport {
  /* background-color: #292929; */
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  /* overflow: no; */
  z-index: 0;
}

.image-grid {
  padding: 0;
  align-content: center;
  height: 100%;
  width: 30vw;
  max-width: 30vw;
}

.viewport-nav-cube {
  position: absolute;
  right: 5vh;
  bottom: 5vh;
  width: 200px;
  height: 200px;
}

.bodyody {
  overflow: hidden;
}

.plan-toggle {
  position: absolute;
  right: 5vh;
  top: 15vh;
}

.plan-check {
}

.navcube {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 100px;
  right: 50px;
  z-index: 200000;
}

.left-minus-symbol {
  text-align: left;
  /* background-color: #ffffff; */
}

/*input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
}

.checkbox--active {
  border-color: purple;
  background: purple;
}*/

.image {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: scale-down;
  padding: 3px;
  border: 10px black;
  border-radius: 10px;
}
.image-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.my-row {
  justify-content: stretch;
}

.my-col {
  align-self: stretch;
}

.caia_card {
  /* background-color: #f0f0f0; */
  border-color: black;
}

.btn-caia {
  /* background-color: var(--caia-accent); */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-color: var(--caia-accent);
  font-family: var(--caia-font);
  font-size: large;
}
.btn-caia:hover {
  /* background-color: var(--caia-highlighted-2); */
  border-color: var(--caia-highlighted-2);
}

.btn-caia-hidden {
  /* background-color: #333333; */
  color: black;
  height: 100%;
  width: 70%;
  border-color: transparent;
}
.btn-caia-hidden:hover {
  /* background-color: var(--caia-highlighted-2); */
  height: 100%;
  width: 70%;
  border-color: transparent;
}

.btn-caia-icon {
  /* background-color: rgba(255, 255, 255, 0); */

  border: 0;
}
.btn-caia-icon:hover {
  /* background-color: var(--caia-highlighted-2); */
}

.btn-caia-icon-size {
  font-size: 1.5rem;
}

.btn-caia-icon-black {
  /* background-color: rgba(255, 255, 255, 0); */
  color: black;
  border: 0;
}
.btn-caia-icon-black:hover {
  /* background-color: var(--caia-highlighted-2); */
}

.btn-caia-icon-size-black {
  font-size: 1.5rem;
}

.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translatex(-50%);
  transform: translateX(-50%);
}

.caia_tablefont {
  font-size: 75%;
  word-wrap: break-word;
  width: 100%;
}

.caia_toggle_button {
  width: 30%;
  height: 100%;
  border-color: transparent;
}

.toggle-switch {
  width: 75px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #ccc;
  border-radius: 20px;
  margin: 0;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner::before,
.toggle-switch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-switch-inner:before {
  content: "Yes";
  text-transform: uppercase;
  padding-left: 10px;
  /* background-color: var(--caia-highlighted-2); */
  color: #fff;
}
.toggle-switch-disabled {
  /* background-color: #ccc; */
  cursor: not-allowed;
}
.toggle-switch-disabled::before {
  /* background-color: #ccc; */
  cursor: not-allowed;
}
.toggle-switch-inner::after {
  content: "No";
  text-transform: uppercase;
  padding-right: 10px;
  /* background-color: #ccc; */
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 5px;
  /* background: #fff; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0;
}

.btn-project {
  color: white;
  /* background-color: var(--caia-accent); */
  font-family: var(--caia-font);
  font-size: larger;
  border: 0 solid;
  padding: 20px;
}

.btn-project:hover {
  /* background-color: var(--caia-highlighted-2); */
}

.tree-style {
  list-style-type: none;
  font-family: var(--caia-font);
  font-size: large;
}
ul {
  list-style-type: none;
}

.minus {
  font-family: var(--caia-font);
  font-size: x-large;
  color: black;
  text-decoration-line: none;
}
.plus {
  font-family: var(--caia-font);
  font-size: x-large;
  color: black;
  text-decoration-line: none;
}

.invisible {
  display: none;
}

/***************** NAVBAR *****************/

.header {
  text-align: center;
  /* height: 20%; */
  flex: 0 1 auto;
  /* background-color: var(--caia-accent); */
}

.navbar-wrapper {
  font-family: var(--caia-font);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* background-color: var(--caia-main-header); */
  height: 120px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  float: top;
}

.navbar-logo {
  font-family: var(--caia-font);
  font-size: x-large;
  color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-decoration: unset;
}

.navbar-logout {
}

.navbar-links {
  font-family: var(--caia-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-text {
  color: rgba(255, 255, 255, 255);
  padding: 20px;
  font-size: large;
  text-decoration: unset;
}

.navbar-text-links {
  color: rgba(255, 255, 255, 255);
  padding: 20px;
  font-size: large;
  text-decoration: unset;
}

.navbar-text-project {
  color: rgba(255, 255, 255, 255);
  padding: 20px;
  font-size: x-large;
  text-decoration: unset;
}

.navbar-collapse {
  /* background-color: var(--caia-main-header); */
}

.navbar-toggle {
  padding: 15px;
}

.navbar-toggle:focus {
  box-shadow: unset;
}

/***************** Footer *****************/

.footer-text {
  font-family: var(--caia-font);
  color: rgba(255, 255, 255, 255);
}

.footer {
  /* background-color: var(--caia-main-header); */
  color: white;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-content: center;
  left: 0;
  flex: 0 1 5vh;
  bottom: 0;
  line-height: 5vh;
  /* height: 5vh; */
  width: 100%;
  z-index: 200000; /* To ensure that the side bar is not on top of this. */
}

/***************** Main page *****************/

.main {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
}

.main-refresh {
  display: flex;
  justify-content: center;
}

.workspace {
  flex: 1 1 auto;
}

.caia-main {
  position: absolute;
  z-index: 10000;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/***************** Sidebar *****************/

.sidebar-tab-nav {
  /* background-color: var(--caia-header); */
  padding: 20px;
  font-family: var(--caia-font);
}

.sidebar-row {
  width: 100%;
}

.nav-item {
  color: white;
}

.nav-link {
  color: white;

  font-size: large;
}
.nav-link:hover {
  color: white;
}

.yscroll {
  /* background-color:#151515; */
  overflow-y: scroll;
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

/***************** Representations *****************/

.file-component {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.bcficon {
  background: url('components/Branding/bcf.png');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}